{% extends "pageFlipper/base.html" %}
{% block content %}
    <form method='post' action='select-score'>
        <select class="form-control" name='selected_score'>
            {% for score in scores %}
                <option value='{{score.scoreName}}'>{{ score.scoreName }}</option>
            {% endfor %}
        </select>
        <button type="submit">
            Choose
        </button>
        {% csrf_token %}
    </form>
    <form enctype="multipart/form-data" action="{% url 'add-score' %}" method="post" class="add-form">
        <div>{{form.pic}}</div>
        <td class="error">
            {% for error in form.pic.errors %} {{error}} {% endfor %}
        </td>
        <p>
            <button id="id_update_pic_button">
                Submit
            </button>
        </p>
        {% csrf_token %}
    </form>
    {% if message %}
        <div>
            {{message}}
        </div>
    {% endif %}
{% endblock %}